<div class="absolute border-solid border-2 border-666 modal">
  <h1><b>Details</b> {{planetObj.name}}</h1>
  <p><b>Rotation_period:</b> {{planetObj.rotation_period}}</p>
  <p><b>Orbital_period:</b> {{planetObj.orbital_period}}</p>
  <p><b>Diameter:</b> {{planetObj.diameter}}</p>
  <p><b>Climate:</b> {{planetObj.climate}}</p>
  <p><b>Gravity:</b> {{planetObj.gravity}}</p>
  <p><b>Terrain:</b> {{planetObj.terrain}}</p>
  <p><b>Surface_water:</b> {{planetObj.surface_water}}</p>
  <p><b>Population:</b> {{planetObj.population}}</p>
  <p><b>Residents:</b>{{planetObj.residents}}</p>
  <p><b>Films:</b>{{planetObj.films}}</p>
  <p><b>Url:</b> {{planetObj.url}}</p>
  <button (click)="close()" class="absolute top-5 right-5 hover:text-red-600 border-2">X</button>
</div>
