<div class="absolute border-solid border-2 border-666 modal">
  <h1><b>Details:</b> {{peopleObj.name}}</h1>
  <p><b>Height:</b> {{peopleObj.height}}</p>
  <p><b>Mass:</b> {{peopleObj.mass}}</p>
  <p><b>Hair color:</b> {{peopleObj.hair_color}}</p>
  <p><b>Skin color:</b> {{peopleObj.skin_color}}</p>
  <p><b>Eye color:</b> {{peopleObj.eye_color}}</p>
  <p><b>Birth year:</b> {{peopleObj.birth_year}}</p>
  <p><b>Gender:</b>{{peopleObj.gender}}</p>
  <p><b>Homeworld:</b>{{peopleObj.homeworld}}</p>
  <p><b>Films:</b>{{peopleObj.films}}</p>
  <p><b>Species:</b>{{peopleObj.species}}</p>
  <p><b>Vehicles</b>{{peopleObj.vehicles}}</p>
  <p><b>Starships</b>{{peopleObj.starships}}</p>
  <p><b>Url</b>{{peopleObj.url}}</p>
  <button (click)="close()" class="absolute top-5 right-5 hover:text-red-600 border-2">X</button>
</div>
