.example-card {
  width: 320px;
  background-color: black;
  color: yellow;
  border: 3px solid yellow;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
a {
  border: 1px solid yellow;
  padding: 2px;
  position: absolute;
  bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}
a:hover {
  border: 1px solid white;
  color: yellow;
}
.content {
  margin-bottom: 10px;
}
